<!--<div class="btn-group">-->
    <!--<button type="button" class="btn btn-default"><i class="fa fa-cube"></i><span>Modules</span></button>-->
    <!--<button type="button" class="btn btn-default"><i class="fa fa-cube"></i><span>Classes</span></button>-->
    <!--<button type="button" class="btn btn-default"><i class="fa fa-cube"></i><span>Methods</span></button>-->
    <!--<button type="button" class="btn btn-default"><i class="fa fa-cube"></i><span>Attributes</span></button>-->
<!--</div>-->

<input class="filterInput" type="text" ng-model="moduleFilterText" placeholder="Filter class items">